services:
  ros_rpi:
    image: ilya9kkk/ros_arm:ros_yolo
    container_name: ros_rpi
    privileged: true
    stdin_open: true         # Открывает stdin
    tty: true                # Включает псевдотерминал
    network_mode: "host"
    ipc: "host"
    devices:
      - /dev/video0:/dev/video0
    group_add:
      - ${VIDEO_GID}
    environment:
      - DISPLAY
      - QT_X11_NO_MITSHM=1
      - XAUTHORITY
      - LD_LIBRARY_PATH=/opt/vc/lib
    volumes:
      - /opt/vc:/opt/vc
      - /dev:/dev
      - "/tmp/.X11-unix:/tmp/.X11-unix:rw"
      - ${ROOT_DIR}/workspace:/workspace
    entrypoint: ["/bin/bash", "-c", "/workspace/CONTAINER_START.bash"]

