<launch>
<arg name="rviz_conf_file" default="$(find my_robot_model)/urdf/rviz_conf.rviz" />
<param name="robot_description" command="xacro '$(find my_robot_model)/urdf/diff_robot_model_done.urdf.xacro'" />
<!-- <param name="robot_description" command="$(find xacro)/xacro.py '$(find my_robot_model)/models/diff_drive_robot/urdf/diff_drive_robot.x
<!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /> -->
<node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
<param name="publish_frequency" type="double" value="40.0" />
</node>
<include file="$(find gazebo_ros)/launch/empty_world.launch">
<arg name="world_name" value="$(find my_robot_model)/worlds/empty.world"/>
<arg name="paused" value="false"/>
<arg name="use_sim_time" value="true"/>
<arg name="gui" value="true"/>
<arg name="headless" value="false"/>
<arg name="debug" value="false"/>
</include>
<node name="my_robot_model_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
args="-urdf -param robot_description -model my_robot_model" />
<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_conf_file)" />
</launch>
