<?xml version='1.0'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="range" params="side x y z roll pitch yaw">

        <link name='range_${side}'>
            <visual name='range_${side}_visual'>
                <origin xyz="0.01 0 0" rpy="0 ${pi/2} 0"/>
                <geometry>
                    <cylinder length="0.03" radius="0.01"/>
                </geometry>
                <material name="green"/>
            </visual>
            <xacro:inertial_cylinder mass="0.05" length="0.04" radius="0.25">
                <origin xyz="0 0 0" rpy="0 0 0"/>
            </xacro:inertial_cylinder>
        </link>
        <joint type="fixed" name="range_${side}_joint">
            <origin xyz="${x} ${y} ${z}" rpy="${roll} ${pitch} ${yaw}"/>
            <child link="range_${side}"/>
            <parent link="base_link"/>
        </joint>

    </xacro:macro>
</robot>