services:
  ros_rpi:
    image: ilya9kkk/ros_arm:ros_yolo
    container_name: ros_jet
    platform: linux/arm64
    privileged: true
    stdin_open: true
    tty: true
    network_mode: "host"
    ipc: "host"
    devices:
      - "/dev:/dev"
    environment:
      - OMP_NUM_THREADS=1
      - OPENBLAS_NUM_THREADS=1
      - LD_PRELOAD=/usr/lib/aarch64-linux-gnu/libgomp.so.1
    volumes:
      - /dev:/dev
      - ${ROOT_DIR}/workspace:/workspace
    entrypoint: ["/bin/bash", "-c", "/workspace/CONTAINER_START.bash"]
